.footer {
    /* Add your footer styles */
}

.social-icons {
    display: inline-block;
    margin-left: 1em;
}

.social-icons a {
    color: inherit;
    text-decoration: none;
    margin-left: .5em;
    font-size: 1.2em;
}

.social-icons a:hover {
    color: /* Some hover color */;
}
