<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Description }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with .Site.Params.favicon }}<link rel="shortcut icon" href="{{ . | absURL }}" type="image/x-icon">{{ end }}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3YwGAFW/LCrtS6kW8ApT7I+D9gXK6x" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ template "_internal/css.html" . }}
  {{ template "_internal/head_end.html" . }}
</head>
