{{ define "main" }}

<section class="about-section animate-on-scroll">
    <h1>About</h1>
    <p>
        this is a dump, so don't expect to find great and good written articles here.
        there's just random drafts about what I think about software engineering.
    </p>    
</section>

<section class="posts-section animate-on-scroll">
    <h1>Latest posts</h1>

    <div class="posts-list">
    {{ with .Site.GetPage "/posts" }}
        {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
            <div class="post animate-on-scroll">
                <a href="{{ .Permalink }}" class="post-link">
                    <div class="post-meta">
                        <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                    </div>
                    <h1>{{ .Title }}</h1>
                    <div class="summary">
                        {{ .Summary }}
                    </div>
                </a>
            </div>    
        {{ end }}
    {{ end }}
    </div>
</section>

{{ end }}